.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px 0px;
    position: relative;
    background-color: #ffffff;
  }
  
  .page .top-bar {
    display: flex;
    width: 1440px;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px #0000001f;
  }
  
  .page .rectangle {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #0000001a;
    border-radius: 100px;
  }
  
  .page .title {
    flex: 1;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    position: relative;
    font-family: "Roboto", Helvetica;
    color: #000000;
    letter-spacing: 0;
  }
  
  .page .div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 60px 170px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    overflow: hidden;
  }
  
  .page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .page .text-wrapper {
    width: 520px;
    margin-top: -1.00px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: 48px;
    position: relative;
    font-family: "Roboto", Helvetica;
    color: #000000;
    letter-spacing: 0;
  }
  
  .page .vector {
    top: 168px;
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .page .section {
    gap: 40px;
    padding: 60px 170px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .page .avatar {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #d8d8d880;
    border-radius: 50px;
  }
  
  .page .container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .page .title-2 {
    align-self: stretch;
    margin-top: -1.00px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    font-family: "Roboto", Helvetica;
    color: #000000;
    letter-spacing: 0;
  }
  
  .page .description {
    position: relative;
    align-self: stretch;
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .page .img {
    top: 220px;
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .page .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .page .title-3 {
    align-self: stretch;
    margin-top: -1.00px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    position: relative;
    font-family: "Roboto", Helvetica;
    color: #000000;
    letter-spacing: 0;
  }
  
  .page .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .page .row {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .page .input {
    display: flex;
    flex-direction: column;
    width: 520px;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    position: relative;
  }
  
  .page .title-4 {
    align-self: stretch;
    margin-top: -1.00px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    font-family: "Roboto", Helvetica;
    color: #000000;
    letter-spacing: 0;
  }
  
  .page .textfield {
    height: 36px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #0000001a;
  }
  
  .page .div-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    flex: 0 0 auto;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #0000001a;
  }
  
  .page .text {
    flex: 1;
    height: 20px;
    color: #00000080;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    position: relative;
    margin-top: -1.00px;
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .page .button {
    position: relative;
    width: 360px;
    height: 74px;
  }
  
  .page .vector-2 {
    top: 694px;
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .page .selection {
    display: flex;
    flex-direction: column;
    width: 520px;
    align-items: center;
    gap: 4px;
    position: relative;
  }
  
  .page .chip-group {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .page .chip {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #0000000d;
    border-radius: 6px;
  }
  
  .page .text-2 {
    width: fit-content;
    color: #000000;
    position: relative;
    margin-top: -1.00px;
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .page .vector-3 {
    top: 794px;
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .page .chip-2 {
    display: flex;
    flex-direction: column;
    width: 64px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    position: relative;
    background-color: #0000000d;
    border-radius: 6px;
  }
  
  .page .vector-4 {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 594px;
    left: 0;
    object-fit: cover;
  }
  
  .page .title-5 {
    align-self: stretch;
    margin-top: -1.00px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    font-family: "Roboto", Helvetica;
    color: #000000;
    letter-spacing: 0;
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .page .vector-5 {
    top: 494px;
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .page .container-wrapper {
    gap: 60px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .page .container-3 {
    display: inline-flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .page .title-6 {
    align-self: stretch;
    width: 323px;
    margin-top: -1.00px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    position: relative;
    font-family: "Roboto", Helvetica;
    color: #000000;
    letter-spacing: 0;
  }
  
  .page .p {
    align-self: stretch;
    width: 340px;
    margin-top: -1.00px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    position: relative;
    font-family: "Roboto", Helvetica;
    color: #000000;
    letter-spacing: 0;
  }
  